div { height: 50px }
      #div1 { background-color: yellow; }
      #div2 { background-color: #ababab; }
      #div3 { background-color: rgb(125, 89, 65); }
      #div4 { background-color: rgba(125, 89, 65, 0.20); }
      #div5 { background-color: hsl(120, 100%, 50%); }
      #div6 { background-color: hsla(120, 50%, 50%, 0.5);}